html, body {
    height: 100%;
    max-width: 100%;
}

/* Text centered to look a little better on smaller devices */
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    
    background-color: white;
    margin: 0;
    padding: 0;
    color: #000;
    height: 100%;
    width: auto;
    text-align: center;	
}

/* Make font larger  */
select, option {
    font-size: 2.5vw;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 3.5vw;
}

/* Enlarged form text */
.formText {
    font-size: 3.5vw;
}

a img {
    border: none;
}

#logo {
    background-color: rgb(110, 182, 185);
    display: inline-block;
    width: 10;
    height: 10;
}

a:link {
    color: #42413C;
    text-decoration: underline;
}
a:visited {
    color: #6E6C64;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}

/* Width set to auto to make element stretch across whole screen */
.container {
    width: auto;
    background-color: #FFF;
    margin: auto;
    padding-bottom: 1vh;    
    height: 90vh;
}

.header {
    background-color: rgb(110, 182, 185);    
}

/* Font size reduced for table so it fits better on larger devices */
table, th, td {
    border: 1px solid black;
    font-size: 1.5vw;
}


button[type=submit] {
    width: 20%;
    font-size: 1.8vw;
    padding:  1vw 1vw;
  }


input[type=text], select, textarea{
    width: 35%;
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2vw;
  }

input[type=password], select, textarea{
    width: 35%;
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2vw;
  }

.content {
    padding: 1% 0;
    width: auto;    
    font-size: 1.5vw;
}
.content ul, .content ol { 
    padding: 0 15px 15px 40px;
}

/* Added bottom and position fixed attributes so that footer sticks to bottom */
.footer {
    padding: 1% 0;
    background-color: rgb(159, 199, 204);
    bottom: 0;
    position: fixed;
    width: 100%;
    clear: both;
}

/* Footer taking up too much space so font size reduced */
.footerP {
    font-size: small;
}

/* Makes graph responsive, margin-left to fix the alignment slightly */
.graphImg {
    margin-left: 2%;
    width: 100%;
    height: auto;
}

/* ***Dropdown button implementation*** */
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 


/* Disable visibility of table columns based on device to avoid overstretching */
@media only screen and (max-width: 768px) {
	tr td:nth-child(9) { 
        display:none; visibility:hidden; 
	}
}

@media only screen and (max-width: 420px) {
	tr td:nth-child(4)	{ display:none; visibility:hidden; }
	tr td:nth-child(5)	{ display:none; visibility:hidden; }
	tr td:nth-child(6)	{ display:none; visibility:hidden; }
	tr td:nth-child(9)	{ display:none; visibility:hidden; }
	table, th, td {
        font-size: 2.5vw;
	}
}

@media only screen and (max-width: 320px) {
	tr td:nth-child(4)	{ display:none; visibility:hidden; }
	tr td:nth-child(5)	{ display:none; visibility:hidden; }
	tr td:nth-child(6)	{ display:none; visibility:hidden; }
	tr td:nth-child(7)	{ display:none; visibility:hidden; }
	tr td:nth-child(8)	{ display:none; visibility:hidden; }
	tr td:nth-child(9)	{ display:none; visibility:hidden; }
	table, th, td {
        font-size: 2.5vw;
	}
}