body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: rgb(60, 66, 66);
    margin: 0;
    padding: 0;
    color: #000;
}
ul, ol, dl {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 2.5vw;
}
a img {
    border: none;
}
#logo {
    background-color: rgb(110, 182, 185);
    display: block;
    width: 10;
    height: 10;
}
a:link {
    color: #42413C;
    text-decoration: underline;
}
a:visited {
    color: #6E6C64;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.container {
    width: 95%;
    background-color: #FFF;
    margin: 0 auto;
}

.header {
    background-color: rgb(110, 182, 185);
}

.sidebar1 {
    float: left;
    min-width: 70px;
    width: 13%;
    background-color: rgb(160, 243, 243);
    padding-bottom: 1%;
    font-size: 1.5vw;
}
.content {

    padding: 1% 0;
    width: 65%;
    float: left;
}
.content ul, .content ol { 
    padding: 0 15px 15px 40px;
}
ul.nav {
    list-style: none;
    border-top: 1px solid #666;
    margin-bottom: 15px;
}
ul.nav li {
    border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited {
    padding: 1% 1% 1% 15px;
    display: block;
    width: 80%;
    text-decoration: none;
    background-color: rgb(160, 243, 243);
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
    background-color: rgb(160, 243, 243);
    color: rgb(255, 255, 255);
}
.footer {
    padding: 1% 0;
    background-color: rgb(159, 199, 204);
    position: relative;
    clear: both;
}
.fltrt {
    float: right;
    margin-left: 8px;
}
.fltlft {
    float: left;
    margin-right: 8px;
}
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
